<%- include('../components/header.ejs') %>

<main>
    <form class="auth" method="post" action="/sign-up">
        <h1>SIGN UP</h1>
        <div>
            <label for="full-name">Full Name</label>
            <input required name="full_name" type="text" id="full-name">
        </div>
        <div>
            <label for="email">Email</label>
            <input required name="email" type="email" id="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input required name="password" type="password" id="password">
        </div>
        <div>
            <label for="confirm-password">Confirm Password</label>
            <input required name="confirm_password" type="password" id="confirm-password">
        </div>
        <button type="submit">Sign Up</button>
        <p>
            By signing up, you agree to our<br>
            <a href="/terms-of-use">Terms of Use</a> &
            <a href="/privacy-policy">Privacy Policy</a>
        </p>
    </form>
</main>

<%- include('../components/footer.ejs') %>
